<div class="d-md-none header_navbar_collapse">
    <ul class="header_navbar_collapse_nav" style="min-height: 54px">
        <li class="header_navbar_collapse_nav_item">
            <div class="header_navbar_collapse_nav_item_pad">
                <a class="header_navbar_collapse_nav_item_link active" href="/"><span class="icon-home"></span>
                    <p></p></a>
            </div>
        </li>
        <li class="header_navbar_collapse_nav_item">
            <div class="header_navbar_collapse_nav_item_pad">
                <a class="header_navbar_collapse_nav_item_link " href="/explore"> <span class="fa fa-search"
                                                                                        aria-hidden="true"></span>
                    <p></p></a>
            </div>
        </li>

        <li class="header_navbar_collapse_nav_item">
            <div class="header_navbar_collapse_nav_item_pad">
                <a class="header_navbar_collapse_nav_item_link " href="/add"> <span class="fa fa-plus"
                                                                                    aria-hidden="true"></span>
                    <p></p></a>
            </div>
        </li>

        <li class="header_navbar_collapse_nav_item">
            <div class="header_navbar_collapse_nav_item_pad">
                <a class="header_navbar_collapse_nav_item_link " href="/shop/orders">
                    <span class="icon-cart"></span>
                    <p></p></a>
            </div>
        </li>


        <li class="header_navbar_collapse_nav_item">
            <div class="header_navbar_collapse_nav_item_pad">
                <a class="header_navbar_collapse_nav_item_link " href="/profile/notifications">

                    <span class="fa fa-user"></span>

                    <p></p>
                </a>
            </div>
        </li>
    </ul>
</div>