{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="utf-8"/>
    <meta name="turbo-visit-control" content="disable"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="https://100k.uz/themes/stock/assets/favicon/favicon.ico" type="image/png">
    <script type="module" crossorigin src="https://100k.uz/themes/stock/assets/main.1ab22af8.js"></script>
    <link rel="stylesheet" href="https://100k.uz/themes/stock/assets/main.b406c4a6.css">

    <!-- seo meta tags -->
    <title>Tizimga kirish | 100k.uz</title>

    <meta name="description"
          content="100k.uz tizimga kirish - telefon raqamingizni va sms kod yoki doimiy parolni kiritgan holda tizimga kiring ">

</head>

<body class="min-h-variable flex flex-col" x-data="{
	update() {
		const vh = this.height = window.innerHeight * 0.01;
		document.documentElement.style.setProperty('--vh', `${vh}px`);
	},
	init() {
		this.update()
	},
}" @resize.window="update()">

<div class="bg-primary">
    <div class="container mx-auto px-2 sm:px-4 flex justify-between items-center p-1 ">
        <div class="flex gap-4">
            <a class="p-1 flex items-center text-white hover:text-white/95 transition-all duration-200"
               href="https://play.google.com/store/apps/details?id=uz.itmaker.stock">
                <svg class="w-5 h-5 inline-block" fill="currentColor" viewBox="0 0 505.145 505.145"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M68.541,164.715h-1.294c-16.588,0-30.113,13.568-30.113,30.113v131.107     c0,16.61,13.525,30.134,30.113,30.134h1.316c16.588,0,30.113-13.568,30.113-30.134V194.827     C98.654,178.283,85.108,164.715,68.541,164.715z"
                          clip-rule="evenodd">
                    </path>
                    <path fill-rule="evenodd"
                          d="M113.085,376.54c0,15.229,12.446,27.632,27.675,27.632h29.574v70.817     c0,16.631,13.568,30.156,30.113,30.156h1.294c16.61,0,30.156-13.546,30.156-30.156v-70.817h41.33v70.817     c0,16.631,13.611,30.156,30.156,30.156h1.273c16.609,0,30.134-13.546,30.134-30.156v-70.817h29.595     c15.207,0,27.654-12.403,27.654-27.632V169.525H113.085V376.54z"
                          clip-rule="evenodd">
                    </path>
                    <path fill-rule="evenodd"
                          d="M322.041,43.983l23.491-36.26c1.51-2.287,0.841-5.414-1.467-6.903     c-2.286-1.51-5.414-0.884-6.903,1.467l-24.353,37.512c-18.27-7.485-38.676-11.691-60.226-11.691     c-21.571,0-41.934,4.206-60.247,11.691l-24.31-37.512c-1.488-2.351-4.638-2.977-6.946-1.467     c-2.308,1.488-2.977,4.616-1.467,6.903l23.512,36.26c-42.387,20.773-70.968,59.924-70.968,104.834     c0,2.761,0.173,5.479,0.41,8.175h280.053c0.237-2.696,0.388-5.414,0.388-8.175C393.009,103.907,364.406,64.756,322.041,43.983z      M187.655,108.911c-7.442,0-13.482-5.997-13.482-13.46c0-7.463,6.04-13.439,13.482-13.439c7.485,0,13.482,5.975,13.482,13.439     S195.097,108.911,187.655,108.911z M317.49,108.911c-7.442,0-13.482-5.997-13.482-13.46c0-7.463,6.04-13.439,13.482-13.439     c7.463,0,13.46,5.975,13.46,13.439C330.95,102.914,324.953,108.911,317.49,108.911z"
                          clip-rule="evenodd">
                    </path>
                    <path fill-rule="evenodd"
                          d="M437.876,164.715h-1.251c-16.588,0-30.156,13.568-30.156,30.113v131.107     c0,16.61,13.59,30.134,30.156,30.134h1.273c16.609,0,30.113-13.568,30.113-30.134V194.827     C468.011,178.283,454.464,164.715,437.876,164.715z"
                          clip-rule="evenodd">
                    </path>
                </svg>
                <span class="hidden sm:inline-block ml-1 font-medium">
                    Google Play
                </span>
            </a>
            <a class="p-1 flex items-cent+998er text-white hover:text-white/95 transition-all duration-200"
               href="https://apps.apple.com/pl/app/100k-uz/id1529911106">
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 502.657 502.657">
                    <path fill-rule="evenodd"
                          d="M389.063,281.758c-13.827-69.587,52.223-110.399,52.223-110.399s-25.734-37.231-68.983-46.809    c-43.228-9.599-64.863,2.394-86.456,11.389c-21.614,9.017-32.399,9.017-32.399,9.017c-31.191,0-53.992-33.025-113.419-17.99    c-40.941,10.332-84.04,57.594-91.827,114.002c-7.787,56.429,9.017,128.432,41.416,184.236    c32.399,55.847,65.403,76.835,88.828,77.439c23.426,0.582,46.809-16.782,75.002-21.01c28.215-4.185,45.579,10.225,73.254,18.012    c27.567,7.766,37.231,0.561,68.983-26.446c31.838-27.007,60.657-104.467,60.657-104.467S402.89,351.388,389.063,281.758z"
                          clip-rule="evenodd">
                    </path>
                    <path fill-rule="evenodd"
                          d="M327.845,79.531C358.475,48.319,348.1,0,348.1,0s-43.012,7.55-71.831,37.533c-28.797,30.005-24.03,77.396-24.03,77.396    S297.214,110.723,327.845,79.531z"
                          clip-rule="evenodd">
                    </path>
                </svg>

                <span class="hidden sm:inline-block ml-1 font-medium">
                    Appstore
                </span>
            </a>
        </div>
        <div x-data="{isOpen: false}" class="relative" @click.outside="isOpen = false">
            <a href="javascript:;" @click="isOpen = !isOpen"
               class="text-white hover:text-white/95 flex items-center transition-all duration-200 font-medium">
                <svg class="w-5 h-5 mr-1" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M4.083 9h1.946c.089-1.546.383-2.97.837-4.118A6.004 6.004 0 004.083 9zM10 2a8 8 0 100 16 8 8 0 000-16zm0 2c-.076 0-.232.032-.465.262-.238.234-.497.623-.737 1.182-.389.907-.673 2.142-.766 3.556h3.936c-.093-1.414-.377-2.649-.766-3.556-.24-.56-.5-.948-.737-1.182C10.232 4.032 10.076 4 10 4zm3.971 5c-.089-1.546-.383-2.97-.837-4.118A6.004 6.004 0 0115.917 9h-1.946zm-2.003 2H8.032c.093 1.414.377 2.649.766 3.556.24.56.5.948.737 1.182.233.23.389.262.465.262.076 0 .232-.032.465-.262.238-.234.498-.623.737-1.182.389-.907.673-2.142.766-3.556zm1.166 4.118c.454-1.147.748-2.572.837-4.118h1.946a6.004 6.004 0 01-2.783 4.118zm-6.268 0C6.412 13.97 6.118 12.546 6.03 11H4.083a6.004 6.004 0 002.783 4.118z"
                          clip-rule="evenodd"></path>
                </svg>
                Mening profilim
                <svg class="w-5 h-5 ml-1 mt-0.5 transition-transform duration-200"
                     x-bind:class="{'rotate-180': isOpen}" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                          clip-rule="evenodd"></path>
                </svg>
            </a>
            <ul class="absolute bg-white right-0  rounded-lg border drop-shadow overflow-clip top-[calc(100%+.25rem)] z-[99]"
                x-show="isOpen" x-transition x-cloak>
                <li>
                    <a class="px-4 py-1 block whitespace-nowrap hover:bg-black/5 transition-all duration-200 hover:text-primary"
                       href="/pages/contacts">
                        Aloqa uchun
                    </a>
                </li>
                <li>
                    <a class="px-4 py-1 block whitespace-nowrap hover:bg-black/5 transition-all duration-200 hover:text-primary"
                       href="/profile">
                        Profil
                    </a>
                </li>
                <li>
                    <a class="px-4 py-1 block whitespace-nowrap hover:bg-black/5 transition-all duration-200 hover:text-primary"
                       href="/shop/favorite">
                        Mening sevimlilarim
                    </a>
                </li>
                <li>
                    <a class="px-4 py-1 block whitespace-nowrap hover:bg-black/5 transition-all duration-200 hover:text-primary"
                       href="/profile/settings">
                        Sozlamalar
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<header class="sticky top-0 z-50 bg-white shadow shadow-primary/10">
    <div class="container mx-auto px-2 sm:px-4  py-2 flex items-center justify-between gap-2 md:gap-10">
        <div>
            <a class="" href="/">
                <img src="https://100k.uz/themes/stock/assets/100k.png" alt="100k.uz" class="h-6 sm:h-8">
            </a>
        </div>
        <div class="flex-1 flex justify-center">
            <form
                    class="flex items-stretch justify-center  rounded-full focus-within:shadow focus-within:shadow-primary/40 transition-all duration-200 w-full max-w-xl relative"
                    x-data="{
        isSearching: false,
        isRequested: false,
        searchModel: '',
        ajax() {
            oc.request($el, 'onSearch', {
                data: {search: this.searchModel},
                update: {
                    'v2site/header/search/results': '#searchResultContainer',
                }
            });
        }
    }"
                    x-on:click.outside="isSearching = false"
                    x-on:keyup.escape="isSearching = false"
                    x-on:submit.prevent="ajax()">
                <div
                        class="overflow-hidden absolute  max-h-96 min-h-[4rem] w-full rounded-3xl">

                    <ul class="bg-white -z-10 shadow-lg shadow-primary/20  pt-9 max-h-96 overflow-y-auto scrollbar"
                        x-show="isSearching && isRequested" x-cloak x-transition x-ref="searchResultContainer"
                        id="searchResultContainer">
                        <li class="p-3 text-center">
                            <svg class="animate-spin mx-auto h-5 w-5 text-primary"
                                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor"
                                        stroke-width="4"></circle>
                                <path class="opacity-75" fill="currentColor"
                                      d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                                </path>
                            </svg>
                        </li>
                    </ul>
                </div>
                <input type="text"
                       class="block max-w-full z-10 px-4 py-1 border-2 border-r-0 border-gray-200 focus:border-primary/80  rounded-l-full focus:outline-none transition-colors duration-200 flex-1"
                       placeholder="qidiruv..." x-on:focus="isSearching = true" x-on:click="isSearching = true"
                       x-on:input="isRequested = true;" x-model.debounce="searchModel"
                       x-init="$watch('searchModel', (val) => ajax())">
                <button
                        class="block z-10 px-4 py-1 border-2 border-primary bg-primary hover:bg-primary/80 hover:border-primary/80 transition-all duration-200 text-white rounded-r-full"
                        aria-label="Qidirish" type="submit">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                              clip-rule="evenodd">
                        </path>
                    </svg>
                </button>
            </form>
        </div>
        <div x-data="{isOpen: false}" class="relative hidden sm:block" @click.outside="isOpen = false">
            <a href="javascript:" @click="isOpen = !isOpen"
               class="hover:text-primary flex items-center transition-all duration-200 font-medium">
                <svg class="w-5 h-5 mr-1" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                          clip-rule="evenodd"></path>
                </svg>
                Mening profilim
                <svg class="w-5 h-5 ml-1 mt-0.5 transition-transform duration-200"
                     x-bind:class="{'rotate-180': isOpen}" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                          clip-rule="evenodd"></path>
                </svg>
            </a>
            <ul class="absolute bg-white right-0 rounded-lg border drop-shadow overflow-clip top-[calc(100%+.25rem)]"
                x-show="isOpen" x-transition x-cloak>
                <li>
                    <a class="px-4 py-1 block whitespace-nowrap hover:bg-black/5 transition-all duration-200 hover:text-primary"
                       href="/pages/contacts">
                        Aloqa uchun
                    </a>
                </li>
                <li>
                    <a class="px-4 py-1 block whitespace-nowrap hover:bg-black/5 transition-all duration-200 hover:text-primary"
                       href="/profile">
                        Profil
                    </a>
                </li>
                <li>
                    <a class="px-4 py-1 block whitespace-nowrap hover:bg-black/5 transition-all duration-200 hover:text-primary"
                       href="/shop/favorite">
                        Mening sevimlilarim
                    </a>
                </li>
                <li>
                    <a class="px-4 py-1 block whitespace-nowrap hover:bg-black/5 transition-all duration-200 hover:text-primary"
                       href="/profile/settings">
                        Sozlamalar
                    </a>
                </li>
            </ul>
        </div>
    </div>

</header>
<ul class="flex justify-around sm:hidden bg-white fixed bottom-0 z-50 p-2 w-full shadow-lg shadow-primary">
    <li>
        <a class="p-1 block text-primary hover:text-primary transition-all duration-200 " href="/">
            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path
                        d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
                </path>
            </svg>
        </a>
    </li>
    <li>
        <a class="p-1 block text-gray-600 hover:text-primary transition-all duration-200" href="/explore">
            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                      clip-rule="evenodd"></path>
            </svg>
        </a>
    </li>
    <li>
        <a class="p-1 block text-gray-600 hover:text-primary transition-all duration-200" href="/add">
            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                      clip-rule="evenodd"></path>
            </svg>
        </a>
    </li>
    <li>
        <a class="p-1 block text-gray-600 hover:text-primary transition-all duration-200" href="/shop/orders">
            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z"
                      clip-rule="evenodd"></path>
            </svg>
        </a>
    </li>
    <li>
        <a class="p-1 block text-gray-600 hover:text-primary transition-all duration-200" href="/profile">
            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                      clip-rule="evenodd"></path>
            </svg>
        </a>
    </li>
</ul>
<main class="flex-1 bg-gradient-to-b from-[#e3d7d0] to-[#f3e2c0] flex flex-col items-center py-2">
    <div class="my-auto flex flex-col items-center">
        <a class="text-4xl font-medium font-cursive hover:text-primary transition-all duration-200" href="/">
            100k.uz
        </a>
        <h2 class="text-lg font-medium my-2">Tizimga kirish</h2>

        <form class="flex flex-col items-stretch gap-2" x-data="{phone: ''}"
              @submit.prevent="oc.request($el, 'onAuth', {
        update: {
            'v2auth/login': '!#authForm',
        },
        data: {},
        flash: true,
    })" id="authForm">
            <input type="phone"
                   class="border-2 border-gray-200 rounded-xl px-4 py-1.5 focus:outline-none focus:border-primary focus:shadow-lg focus:shadow-primary/20 transition-colors duration-200 min-w-[16rem]"
                   placeholder="Telefon raqamingizni kiring" x-mask="+998(99) 999-99-99"
                   x-on:focus="!$event.target.value.startsWith('+998') ? $event.target.value = '+998' : ''"
                   x-on:blur="$event.target.value == '+998(' || $event.target.value == '+998' ? $event.target.value = '': ''"
                   x-ref="phone" x-model="phone" name="username" autocomplete="off">
            <label for="checkboxField" class="select-none cursor-pointer group relative">
                <input class="absolute top-1/2 left-1.5 peer h-0.5 w-0.5" type="checkbox"
                       required id="checkboxField">
                <div class="inline-block relative w-4 h-4 -mb-0.5 bg-white border border-primary shadow group-hover:shadow-primary/50 transition-all duration-200 rounded-sm peer-checked:bg-primary
            before:bg-transparent before:block before:top-1.5 before:-rotate-45 before:translate-x-[.1875rem] before:rounded-xl before:absolute before:h-0.5 before:w-3 before:peer-checked:bg-white
            after:bg-transparent after:block after:top-[.4375rem] before:z-10 z-10 after:rotate-45 after:-translate-x-[.0625rem] after:rounded-xl after:absolute after:h-0.5 after:w-2 after:peer-checked:bg-white
            ">
                </div>
                Men <a class="text-primary hover:text-primary/70 font-medium transition-all duration-200"
                       href="/pages/privacy-policy" target="_blank">
                foydalanish shartlari </a> bilan tanishdim.
            </label>
            <button class="px-4 py-1.5 rounded-xl
            bg-black
            text-white
            shadow-lg shadow-black/50 hover:shadow-primary/50
            hover:bg-primary
            disabled:bg-gray-200
            disabled:shadow-none
            disabled:text-black
            transition-all duration-200" x-bind:disabled="phone.length < 18"
                    data-attach-loading>
                Raqamni tekshirish
            </button>
        </form>
    </div>
    <div class="py-4 text-sm flex justify-center flex-wrap gap-2">
        <a class="hover:text-primary transition duration-200" target="_blank" href="#"> Maxfiylik siyosati </a> |
        <a class="hover:text-primary transition duration-200" target="_blank" href="/pages/privacy-policy">
            Foydalanish shartlari </a> |
        <span class="">Copyright © 2020 Barcha huquqlar himoyalangan</span>
    </div>
</main>
<footer class="bg-black mb-12 sm:mb-0">
    <div
            class="container mx-auto px-2 sm:px-4 flex flex-col items-start gap-y-2 gap-x-8 py-4 md:py-8  md:flex-row md:flex-wrap md:justify-between">
        <a href="/profile" class="text-lg sm:text-xl text-white hover:text-primary transition-all duration-200">
            Mening kabinetim
        </a>
        <a href="/pages/about" class="text-lg sm:text-xl text-white hover:text-primary transition-all duration-200">
            Biz haqimizda
        </a>
        <a href="/pages/contacts"
           class="text-lg sm:text-xl text-white hover:text-primary transition-all duration-200">
            Aloqa uchun
        </a>
        <a href="/pages/privacy-policy"
           class="text-lg sm:text-xl text-white hover:text-primary transition-all duration-200">
            Ommaviy oferta
        </a>
        <a href="/shop/favorite"
           class="text-lg sm:text-xl text-white hover:text-primary transition-all duration-200">
            Mening sevimlilarim
        </a>
    </div>
    <div class="container mx-auto px-2 sm:px-4 text-white flex justify-between py-2 text-sm sm:text-base">
        <span>
            2016-2021 - 100K.UZ
        </span>
        <span>
            Barcha huquqlar himoyalangan
        </span>
    </div>
</footer>
<script src="{% static 'auth/js/framework-extras.js' %}"></script>
<link rel="stylesheet" property="stylesheet" href="{% static 'auth/vendor/css-hamburgers/framework-extras.css' %}">

</body>
</html>