{% extends 'apps/parts/base.html' %}
{% load static %}
{% block main %}

    <main class="client-template">
        <section class="main">
            <div class="container p-4">
                <br>
                <h3> Murojat uchun </h3>
                <br>
                <p><b>Call-center:</b> +998 55 500 55-11 </p>
                <p><b>Elektron pochta:</b> info@100k.uz </p>
                <p><b>Telegram:</b> <a href="https://t.me/yuzka_support">@yuzka_support</a></p>
            </div>

        </section>
    </main>
{% endblock %}