{% extends 'apps/parts/base.html' %}

{% block title %}
    Mening Sevimlilarim
{% endblock %}

{% block main %}
    <section class="main">

        <div class="container border-bottom-4">
            <div class="content_name_block">
                <a href="/" class="content_name_block_back"><span class="icon-arrow"></span></a>
                <div class="content_name_block_text"><p> Sevimlilarim </p></div>
            </div>
        </div>


        <div class="container">
            <div class="content_favorite">
                <div class="row">
                    {% if user.favorite_set.count %}
                    
                    {% endif %} 
                    <div class="content_single-product-nouser">
                        <div class="content_single-product-nouser_info">
                            <span class="icon-cart"></span>
                            <p> Sevimlilar ro'yhati bo'sh </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}