{% extends 'apps/parts/base.html' %}
{% load static %}
{% block main %}
    <main class="client-template">
        <section class="main">

            <div class="siteCategories pt-5 pb-3">
                <div class="container">
                    <div class="row">
                        {% for category in categories %}
                            {% if category.product_count %}
                                <div class="col-md-2 col-4">
                                    <a class="siteCategories--item"
                                       href="{% url 'category_detail' %}?category={{ category.slug }}">
                                        <img alt="" height="100" style="width:100px;height:100px;"
                                             src="{{ category.image.url }}"
                                             width="100">
                                        <span> {{ category.title }}  {% if category.product_count > 0 %}
                                            <small>({{ category.product_count }})</small>{% endif %} </span>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="container" id="productsList">
                <div class="productsList py-4">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <h2 class="mb-3 font-weight-bold">Yangi kelgan mahsulotlar</h2>
                        </div>
                        <div class="col-auto">
                            <div class="mb-3">
                                <a href="{% url 'explore' %}">Barchasini ko'rish</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for product in products %}
                            <div class="col-md-3 col-sm-3 col-3">
                                <div class="productsList--item">
                                    <a href="{% url 'product_detail' product.slug %}"
                                       class="productsList--item--link"></a>
                                    <div class="productsList--item--image">
                                        <img src="{{ product.image_url }}"
                                             style="height: 200px; width: 200px;" alt="">
                                    </div>
                                    <div class="productsList--item--info">
                                        <div class="productsList--item--title">
                                            {{ product.title }}
                                        </div>
                                        <div class="productsList--item--price">
                                            <strong class="font-weight-bold"> {{ product.price }} </strong>

                                            <span class="small">so'm</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="productsList py-4">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <h2 class="mb-3 font-weight-bold"> Ommabop mahsulotlar </h2>
                        </div>
                        <div class="col-auto">
                            <div class="mb-3">
                                <a href="{% url 'explore' %}"> Barchasini korish </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for product in products %}
                            <div class="col-md-3 col-sm-4 col-6">
                                <div class="productsList--item">
                                    <a href="{% url 'product_detail' product.slug %}"
                                       class="productsList--item--link"></a>
                                    <div class="productsList--item--image">
                                        <img src="{{ product.image_url }}"
                                             style="height: 200px; width: 200px;" alt="">
                                    </div>
                                    <div class="productsList--item--info">
                                        <div class="productsList--item--title">
                                            {{ product.title }}
                                        </div>
                                        <div class="productsList--item--price">
                                            <strong class="font-weight-bold"> {{ product.price }} </strong>

                                            <span class="small">so'm</span>
                                        </div>
                                        <div class="productsList--item--orders">
                                            buyurtmalar: {{ product.productorders_set.count }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <section class="advantagesSection">
                <div class="container">
                    <h2 class="font-weight-bold mb-5">100k.uz qulayliklari</h2>
                    <div class="row text-center">
                        <div class="col-md col-sm-6 mb-4">
                            <div class="advantagesSection--item">
                                <i class="fa fa-truck"></i>
                                <h3>Tezkor yetkazib berish xizmati</h3>
                                <p> Buyurtmangiz O'zbekistonning barcha viloyatlariga 3 kun ichida yetqazib
                                    beriladi. </p>
                            </div>
                        </div>
                        <div class="col-md col-sm-6 mb-4">
                            <div class="advantagesSection--item">
                                <i class="fa fa-money"></i>
                                <h3>To'lov istalgan usulda</h3>
                                <p>Buyurtmani oldindan click, payme yoki buyurtmani qo'lingizga olganingizdan keyin
                                    amalga oshiring.</p>
                            </div>
                        </div>
                        <div class="col-md col-sm-6 mb-4">
                            <div class="advantagesSection--item">
                                <i class="fa fa-support"></i>
                                <h3> CALL-CENTER </h3>
                                <p> Dam olish kunlarisiz qo'llab quvvatlash bo'limi mavjud. <br> <strong>+998 55 500
                                    55-11</strong></p>
                            </div>
                        </div>
                        <div class="col-md col-sm-6 mb-4">
                            <div class="advantagesSection--item">
                                <i class="fa fa-gift"></i>
                                <h3> Mijozlarni rag'batlantirish tizimi </h3>
                                <p> Doimiy mijozlar uchun sovg'alar va bonuslar taqdim etiladi. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>
{% endblock %}