{% extends 'apps/parts/base.html' %}

{% block main %}

    <main class="client-template">
        <section class="main">


            <div class="siteCategories pt-5 pb-3">
                <div class="container">
                    <!-- <h2 class="font-weight-bold mb-5">Our categories</h2> -->
                    <div class="row">
                        {% for category in categories %}
                            <div class="col-md-2 col-4">
                                <a class="siteCategories--item" href="/explore/35">
                                    <img alt="Elektronika" height="100"
                                         src="{{ category.image.url }}"
                                         width="100">
                                    <span> {{ category.title }}  <small>{{ category.product_count }}</small> </span>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="container" id="productsList">
                <div class="productsList py-4">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <h2 class="mb-3 font-weight-bold">Yangi kelgan mahsulotlar</h2>
                        </div>
                        <div class="col-auto">
                            <div class="mb-3">
                                <a href="/explore?sort=new">Barchasini ko'rish</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for product in products %}
                            <div class="col-md-3 col-sm-4 col-6">
                                <div class="productsList--item">
                                    <a href="/shop/product/kingyes-sprey" class="productsList--item--link"></a>
                                    <div class="productsList--item--image">
                                        <img src="{{ product.main_picture.url }}"
                                             width="200" height="200" alt="">
                                    </div>
                                    <div class="productsList--item--info">
                                        <div class="productsList--item--title">
                                            {{ product.title|safe }}
                                        </div>
                                        <div class="productsList--item--price">
                                            <strong class="font-weight-bold">{{ product.price }}</strong>

                                            <span class="small">so'm</span>
                                        </div>
                                        <div class="productsList--item--orders">
                                            buyurtmalar: 1014
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="productsList py-4">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <h2 class="mb-3 font-weight-bold"> Ommabop mahsulotlar </h2>
                        </div>
                        <div class="col-auto">
                            <div class="mb-3">
                                <a href="/explore?sort=rating"> Barchasini korish </a>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-3 col-sm-4 col-6">
                            <div class="productsList--item">
                                <a href="/shop/product/sekret-kamera" class="productsList--item--link"></a>
                                <div class="productsList--item--image">
                                    <img src="https://100k.uz/storage/app/uploads/public/62b/085/cde/thumb_11619_200_200_0_0_crop.png"
                                         width="200" height="200" alt="Sekret kamera">
                                </div>
                                <div class="productsList--item--info">
                                    <div class="productsList--item--title">
                                        Sekret kamera
                                    </div>
                                    <div class="productsList--item--price">
                                        <strong class="font-weight-bold"> 179,000 </strong>

                                        <span class="small">so'm</span>
                                    </div>
                                    <div class="productsList--item--orders">
                                        buyurtmalar: 392
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-6">
                            <div class="productsList--item">
                                <a href="/shop/product/soft-spray" class="productsList--item--link"></a>
                                <div class="productsList--item--image">
                                    <img src="https://100k.uz/storage/app/uploads/public/609/59e/7df/thumb_4103_200_200_0_0_crop.jpeg"
                                         width="200" height="200" alt="Soft spray">
                                </div>
                                <div class="productsList--item--info">
                                    <div class="productsList--item--title">
                                        Soft spray
                                    </div>
                                    <div class="productsList--item--price">
                                        <strong class="font-weight-bold"> 169,000 </strong>

                                        <span class="small">so'm</span>
                                    </div>
                                    <div class="productsList--item--orders">
                                        buyurtmalar: 399
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-6">
                            <div class="productsList--item">
                                <a href="/shop/product/osha-mashxur-ozdiruvchi-mayka-endi-ayollar-uchun-ham"
                                   class="productsList--item--link"></a>
                                <div class="productsList--item--image">
                                    <img src="https://100k.uz/storage/app/uploads/public/5ff/050/53f/thumb_1574_200_200_0_0_crop.jpg"
                                         width="200" height="200"
                                         alt="O&#039;sha mashxur ozdiruvchi mayka endi ayollar uchun ham">
                                </div>
                                <div class="productsList--item--info">
                                    <div class="productsList--item--title">
                                        O&#039;sha mashxur ozdiruvchi mayka endi ayollar uchun ham
                                    </div>
                                    <div class="productsList--item--price">
                                        <strong class="font-weight-bold"> 177,000 </strong>

                                        <span class="small">so'm</span>
                                    </div>
                                    <div class="productsList--item--orders">
                                        buyurtmalar: 258
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-6">
                            <div class="productsList--item">
                                <a href="/shop/product/uzamax" class="productsList--item--link"></a>
                                <div class="productsList--item--image">
                                    <img src="https://100k.uz/storage/app/uploads/public/60c/bba/618/thumb_4851_200_200_0_0_crop.jpeg"
                                         width="200" height="200" alt="Uzamax">
                                </div>
                                <div class="productsList--item--info">
                                    <div class="productsList--item--title">
                                        Uzamax
                                    </div>
                                    <div class="productsList--item--price">
                                        <strong class="font-weight-bold"> 177,000 </strong>

                                        <span class="small">so'm</span>
                                    </div>
                                    <div class="productsList--item--orders">
                                        buyurtmalar: 433
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-6">
                            <div class="productsList--item">
                                <a href="/shop/product/elektron-karset" class="productsList--item--link"></a>
                                <div class="productsList--item--image">
                                    <img src="https://100k.uz/storage/app/uploads/public/629/a5e/6c7/thumb_11063_200_200_0_0_crop.png"
                                         width="200" height="200" alt="Elektron karset">
                                </div>
                                <div class="productsList--item--info">
                                    <div class="productsList--item--title">
                                        Elektron karset
                                    </div>
                                    <div class="productsList--item--price">
                                        <strong class="font-weight-bold"> 99,000 </strong>

                                        <span class="small">so'm</span>
                                    </div>
                                    <div class="productsList--item--orders">
                                        buyurtmalar: 384
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-6">
                            <div class="productsList--item">
                                <a href="/shop/product/islomiy-nabor" class="productsList--item--link"></a>
                                <div class="productsList--item--image">
                                    <img src="https://100k.uz/storage/app/uploads/public/60b/b05/5f1/thumb_4582_200_200_0_0_crop.jpeg"
                                         width="200" height="200" alt="Islomiy nabor">
                                </div>
                                <div class="productsList--item--info">
                                    <div class="productsList--item--title">
                                        Islomiy nabor
                                    </div>
                                    <div class="productsList--item--price">
                                        <strong class="font-weight-bold"> 299,000 </strong>

                                        <span class="small">so'm</span>
                                    </div>
                                    <div class="productsList--item--orders">
                                        buyurtmalar: 426
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-6">
                            <div class="productsList--item">
                                <a href="/shop/product/mini-chok-moshika" class="productsList--item--link"></a>
                                <div class="productsList--item--image">
                                    <img src="https://100k.uz/storage/app/uploads/public/638/384/cb2/thumb_16021_200_200_0_0_crop.png"
                                         width="200" height="200" alt="Mini chok mashinka">
                                </div>
                                <div class="productsList--item--info">
                                    <div class="productsList--item--title">
                                        Mini chok mashinka
                                    </div>
                                    <div class="productsList--item--price">
                                        <strong class="font-weight-bold"> 197,000 </strong>

                                        <span class="small">so'm</span>
                                    </div>
                                    <div class="productsList--item--orders">
                                        buyurtmalar: 212
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-6">
                            <div class="productsList--item">
                                <a href="/shop/product/bluetooth-kozoynak" class="productsList--item--link"></a>
                                <div class="productsList--item--image">
                                    <img src="https://100k.uz/storage/app/uploads/public/638/385/ed7/thumb_16054_200_200_0_0_crop.png"
                                         width="200" height="200" alt="bluetooth ko&#039;zoynak">
                                </div>
                                <div class="productsList--item--info">
                                    <div class="productsList--item--title">
                                        bluetooth ko&#039;zoynak
                                    </div>
                                    <div class="productsList--item--price">
                                        <strong class="font-weight-bold"> 197,000 </strong>

                                        <span class="small">so'm</span>
                                    </div>
                                    <div class="productsList--item--orders">
                                        buyurtmalar: 423
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section class="advantagesSection">
                <div class="container">
                    <h2 class="font-weight-bold mb-5">100k.uz qulayliklari</h2>
                    <div class="row text-center">
                        <div class="col-md col-sm-6 mb-4">
                            <div class="advantagesSection--item">
                                <i class="fa fa-truck"></i>
                                <h3>Tezkor yetkazib berish xizmati</h3>
                                <p> Buyurtmangiz O'zbekistonning barcha viloyatlariga 3 kun ichida yetqazib
                                    beriladi. </p>
                            </div>
                        </div>
                        <div class="col-md col-sm-6 mb-4">
                            <div class="advantagesSection--item">
                                <i class="fa fa-money"></i>
                                <h3>To'lov istalgan usulda</h3>
                                <p>Buyurtmani oldindan click, payme yoki buyurtmani qo'lingizga olganingizdan keyin
                                    amalga oshiring.</p>
                            </div>
                        </div>
                        <div class="col-md col-sm-6 mb-4">
                            <div class="advantagesSection--item">
                                <i class="fa fa-support"></i>
                                <h3> CALL-CENTER </h3>
                                <p> Dam olish kunlarisiz qo'llab quvvatlash bo'limi mavjud. <br> <strong>+998 55 500
                                    55-11</strong></p>
                            </div>
                        </div>
                        <div class="col-md col-sm-6 mb-4">
                            <div class="advantagesSection--item">
                                <i class="fa fa-gift"></i>
                                <h3> Mijozlarni rag'batlantirish tizimi </h3>
                                <p> Doimiy mijozlar uchun sovg'alar va bonuslar taqdim etiladi. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>
{% endblock %}