{% extends 'apps/parts/base.html' %}
{% load static %}
{% block main %}
    <main class="client-template">
        <section class="main">

            <div class="container py-3">
                <div class="row align-items-center">
                    <div class="col my-3 pr-3">
                        <h1 class="h4 font-weight-bold mb-0">{{ product.title }}</h1>
                    </div>
                    <div class="col-auto my-3 text-right">
                        <strong>
                            {{ product.price }} so'm
                        </strong>
                        <div class="text-warning">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>

                <form method="post" action="{% url 'order' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="owl-carousel owl-theme content_linear_card_body_indicators owl-loaded owl-drag">
                                <div class="item">
                                    {% if product.video %}
                                        <video width="431.01" height="431.01" style="width:431.01px;height:431.01px;" controls>
                                            <source src="{{ product.video.url }}" type="video/mp4">
                                        </video>
                                    {% else %}
                                        <img loading="lazy" class="lazyload"
                                             src="https://100k.uz/themes/stock/assets/img/loading.gif"
                                             data-src="{{ product.productimage_set.first.image.url }}"
                                             style="width:431.01px;height:431.01px;" alt="card"/>
                                    {% endif %}

                                </div>
                            </div>

                            <div class="productShop d-none d-md-block d-lg-block d-xl-block mt-4">
                                <div class="row align-items-center">
                                    <div class="col-2">
                                        <a href="{% url 'store' product.pk %}"><img
                                                src="{{ product.store.image.url }}"
                                                alt="clothes"/></a>
                                    </div>
                                    <div class="col pl-3">
                                        <a href="{% url 'store' product.pk %}"> {{ product.store }} </a>
                                        <div class="text-warning">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <a href="/store/198" class="sk-btn sk-btn--hover">Do'konning sahifasi</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="orderFormSection" class="col-md-6 pl-md-4 mb-4">
                            <div class="orderForm sk-form d-flex flex-column justify-content-between"
                                 style="min-height:100%;">
                                <div>
                                    <h2 class="h3 font-weight-bold mb-4"><a href="#orderFormSection"> Buyurtma
                                        berish</a></h2>

                                    <p class="mb-3"> Mahsulot narxi: <strong class="pricetag">{{ product.price }}
                                        so'm</strong></p>

                                </div>

                                <div class="my-3">
                                    <input type="hidden" name="product" value="{{ product.pk }}"/>
                                    <input type="hidden" name="stream_id" value=""/>

                                    <div class="form-group">
                                        <input class="form-control needclear" name="name" placeholder="Ismingiz"
                                               type="text"/>
                                    </div>

                                    <div class="form-group">
                                        <input class="my-phone-mask form-control needclear" name="phone"
                                               id="customer_phone" placeholder="Telefon raqamingiz" type="text"/>
                                    </div>

                                    <div id="partialCountryState">
                                        <div class="form-group">
                                            <select required="true" class="form-control" name="region">
                                                <option value="" selected="selected">Hududni tanlang ⬇</option>
                                                <option value="Toshkent shahri">Toshkent shahri</option>
                                                <option value="Andijon">Andijon</option>
                                                <option value="Buxoro">Buxoro</option>
                                                <option value="Fargona">Fargona</option>
                                                <option value="Jizzax">Jizzax</option>
                                                <option value="Namangan">Namangan</option>
                                                <option value="Navoiy">Navoiy</option>
                                                <option value="Qashqadaryo">Qashqadaryo</option>
                                                <option value="Qoraqalpogiston">Qoraqalpogiston</option>
                                                <option value="Samarqand">Samarqand</option>
                                                <option value="Sirdaryo">Sirdaryo</option>
                                                <option value="Surxondaryo">Surxondaryo</option>
                                                <option value="Toshkent viloyati">Toshkent viloyati</option>
                                                <option value="Xorazm">Xorazm</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="text-center">
                                                <button type="submit" style="max-width: 100%"
                                                        class="sk-btn sk-btn--primary sk-btn--block sk-btn--lg">
                                                    Buyurtma berish
                                                </button>
                                            </div>
                                        </div>

                                        <div class="col-auto">
                                            <a
                                                    class="sk-btn sk-btn--secondary sk-btn--outlined"
                                                    style="font-size:24px;"
                                                    onclick='FB.AppEvents.logEvent("productMarked")'
                                                    data-request="onBookmark"
                                                    data-request-data="id: 1023"
                                                    data-request-success="$(this).find('span').toggleClass('fa')"
                                                    data-request-flash href="javascript:">
                                                <span class="fa-heart far"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <div class="container">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#productDescription" class="nav-link active" data-toggle="tab">Batafsil ma'lumot</a>
                    </li>
                    <li class="nav-item">
                        <a href="#productReviews" class="nav-link" data-toggle="tab"> Xaridorlar fikrlari </a>
                    </li>
                </ul>
            </div>
            <div class="productDesc py-5">
                <div class="container px-3">

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="productDescription">
                            <div>
                                <p style="margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-stretch: normal; font-size: 12px; line-height: normal; font-family: &quot;System Font&quot;;">
                                    <span style="font-family: &quot;.SFUI-Regular&quot;;">{{ product.description }}</span>
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="productReviews">
                            <div class="row align-items-center">
                                <div class="col mb-4">
                                    <h2 class="font-weight-bold">Mijozlar tomonidan qoldirilgan izohlar</h2>
                                </div>
                                <div class="col-auto">
                                    <div class="mb-4">
                                        <a href="#" data-toggle="modal" data-target="#exampleModal">Izoh qoldirish</a>
                                    </div>
                                </div>
                            </div>

                            <ul id="productReviewsList" class="commentsList">
                                {% for foo in comment %}
                                    <h5>{{ foo.name }}</h5>
                                    <p class="text-center text-muted" style="font-size: 19px;">{{ foo.content }}</p>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <!-- Modal -->
        <form data-request-flash data-request="onAddReview"
              data-request-success="$(this).find('input.form-control').val('')"
              data-request-update="'product/reviews-list': '#productReviewsList'"
              class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true" method="post" action="../">
            {% csrf_token %}
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"> Izoh qoldirish </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <input type="hidden" name="product_id" value="1023">

                        <div class="form-group">
                            <label for="exampleInputEmail1">Ismingiz</label>
                            <input type="text" name="name" class="form-control" id="exampleInputEmail1"
                                   placeholder="Ismingizni kiriting">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Izohingiz</label>
                            <textarea name="content" placeholder="Izohingizni kiriting"
                                      class="form-control" id="exampleInputPassword1"></textarea>
                        </div>

                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="rate" id="rating5" value="5" checked>
                                <label class="form-check-label" for="rating5">Ajoyib</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="rate" id="rating4" value="4">
                                <label class="form-check-label" for="rating4">Yaxshi</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="rate" id="rating3" value="3">
                                <label class="form-check-label" for="rating3">Qoniqarli</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="rate" id="rating2" value="2">
                                <label class="form-check-label" for="rating2">Yomon</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="rate" id="rating1" value="1">
                                <label class="form-check-label" for="rating1">Juda yomon</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Bekor qilish</button>
                        <button type="submit" class="btn btn-primary">Izoh qoldirish</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="post-footer__comment">
            {% if comments.count > 0 %}
                <h3 class="comment-title"><span>{{ post.comment_count }} comment</span></h3>
            {% endif %}
            <div class="post-footer__comment__detail">
                {% for comment in comments|slice:3 %}
                    <div class="comment__item">
                        <div class="comment__item__avatar">
                            <img src="{{ user.image.url }}"
                                 alt="Author avatar"/>
                        </div>
                        <div class="comment__item__content">
                            <div class="comment__item__content__header">
                                <h5>{{ comment.author.first_name }}</h5>
                                <div class="data">
                                    <p>
                                        <i class="far fa-clock"></i>{{ comment.created_at|date:'M d, Y' }}
                                    </p>
                                </div>
                            </div>
                            <p>{{ comment.text }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <style>

                .siteFooter .container, .topLine {
                    display: none;
                }

                /* hide search and center logo on mobile */
                @media (max-width: 767px) {
                    .col-logo {
                        flex: 1 0 auto;
                        text-align: center;
                    }

                    .col-search {
                        display: none !important;
                    }
                }

            </style>
        </div>
    </main>
{% endblock %}