{% extends 'apps/parts/base.html' %}
{% block title %}
{% endblock %}
{% block main %}
    <main class="client-template">
        <div class="container" style="padding-top: 10px;">
            <div class="profile">
                <div class="profile-info">
                    <div class="profile-info-avatar">
                        <div class="profile-info-avatar-container">
                            <img src="https://100k.uz/storage/app/uploads/public/61b/4fd/1ac/thumb_7779_150_150_0_0_crop.jpg"
                                 alt="img">
                        </div>
                    </div>
                    <div class="profile-info-text">
                        <div class="profile-info-name">
                            <h1>
                                <span> Halol Brand Abdumannon </span>
                                <img src="https://100k.uz/themes/stock/assets/img/blue-tick.jpg" alt="img" width="16">
                            </h1>
                        </div>
                        <div class="profile-info-stats">
                            <div class="profile-info-stat">
                                <strong> 35 </strong>
                                <span> mahsulotlar </span>
                            </div>

                            <div class="profile-info-stat">
                                <strong> </strong>
                                <span> namoish </span>
                            </div>

                            <!--
                            <div class='profile-info-stat'>
                                <strong>224м</strong>
                                <span>товаров</span>
                            </div> -->
                        </div>

                        <div class="profile-info-props">

                        </div>

                    </div>
                </div>
                <div class="profile-market pt-2">
                    <div class="container" id="productsList">
                        <div class="content_grid">
                            <div class="row">


                                <div class="col-sm-3 col-4" style="padding: 1px">
                                    <div class="content_grid_card" style="padding: 0px">
                                        <a href="/shop/product/bolajonlar-uchun-proektor">
                                            <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                 src="https://100k.uz/storage/app/uploads/public/62f/1a9/c1a/thumb_12842_300_300_0_0_crop.webp"
                                                 data-src="https://100k.uz/storage/app/uploads/public/62f/1a9/c1a/thumb_12842_300_300_0_0_crop.webp"
                                                 alt="Bolajonlar uchun proektor">
                                        </a>

                                        <a class="content_grid_card_basket" data-request="onBookmark"
                                           data-request-data="id: 789"
                                           data-request-success="$(this).find('span').toggleClass('text-success')"
                                           data-request-flash="" href="javascript:">
                                            <span class="icon-bookmark "></span>
                                        </a>

                                        <div class="content_grid_card_price">
                                            <p> 187,000 so'm </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-4" style="padding: 1px">
                                    <div class="content_grid_card" style="padding: 0px">
                                        <a href="/shop/product/mini-phone">
                                            <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                 src="https://100k.uz/storage/app/uploads/public/637/a43/615/thumb_15664_300_300_0_0_crop.png"
                                                 data-src="https://100k.uz/storage/app/uploads/public/637/a43/615/thumb_15664_300_300_0_0_crop.png"
                                                 alt="Mini Phone">
                                        </a>

                                        <a class="content_grid_card_basket" data-request="onBookmark"
                                           data-request-data="id: 817"
                                           data-request-success="$(this).find('span').toggleClass('text-success')"
                                           data-request-flash="" href="javascript:">
                                            <span class="icon-bookmark "></span>
                                        </a>

                                        <div class="content_grid_card_price">
                                            <p> 237,000 so'm </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-4" style="padding: 1px">
                                    <div class="content_grid_card" style="padding: 0px">
                                        <a href="/shop/product/corn-f80">
                                            <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                 src="https://100k.uz/storage/app/uploads/public/632/09e/dd8/thumb_13512_300_300_0_0_crop.jpeg"
                                                 data-src="https://100k.uz/storage/app/uploads/public/632/09e/dd8/thumb_13512_300_300_0_0_crop.jpeg"
                                                 alt="CORN F80">
                                        </a>

                                        <a class="content_grid_card_basket" data-request="onBookmark"
                                           data-request-data="id: 819"
                                           data-request-success="$(this).find('span').toggleClass('text-success')"
                                           data-request-flash="" href="javascript:">
                                            <span class="icon-bookmark "></span>
                                        </a>

                                        <div class="content_grid_card_price">
                                            <p> 417,000 so'm </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-4" style="padding: 1px">
                                    <div class="content_grid_card" style="padding: 0px">
                                        <a href="/shop/product/megicar-signalizatsiya">
                                            <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                 src="https://100k.uz/storage/app/uploads/public/637/a43/0f9/thumb_15658_300_300_0_0_crop.png"
                                                 data-src="https://100k.uz/storage/app/uploads/public/637/a43/0f9/thumb_15658_300_300_0_0_crop.png"
                                                 alt="MAGICAR SIGNALIZATSIYA">
                                        </a>

                                        <a class="content_grid_card_basket" data-request="onBookmark"
                                           data-request-data="id: 823"
                                           data-request-success="$(this).find('span').toggleClass('text-success')"
                                           data-request-flash="" href="javascript:">
                                            <span class="icon-bookmark "></span>
                                        </a>

                                        <div class="content_grid_card_price">
                                            <p> 249,000 so'm </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-4" style="padding: 1px">
                                    <div class="content_grid_card" style="padding: 0px">
                                        <a href="/shop/product/shevrolet-rul">
                                            <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                 src="https://100k.uz/storage/app/uploads/public/637/929/c16/thumb_15567_300_300_0_0_crop.png"
                                                 data-src="https://100k.uz/storage/app/uploads/public/637/929/c16/thumb_15567_300_300_0_0_crop.png"
                                                 alt="Mers Rul Yengisi">
                                        </a>

                                        <a class="content_grid_card_basket" data-request="onBookmark"
                                           data-request-data="id: 824"
                                           data-request-success="$(this).find('span').toggleClass('text-success')"
                                           data-request-flash="" href="javascript:">
                                            <span class="icon-bookmark "></span>
                                        </a>

                                        <div class="content_grid_card_price">
                                            <p> 695,000 so'm </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-4" style="padding: 1px">
                                    <div class="content_grid_card" style="padding: 0px">
                                        <a href="/shop/product/mercedes-benz-rul">
                                            <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                 src="https://100k.uz/storage/app/uploads/public/637/a6f/278/thumb_15701_300_300_0_0_crop.png"
                                                 data-src="https://100k.uz/storage/app/uploads/public/637/a6f/278/thumb_15701_300_300_0_0_crop.png"
                                                 alt="MERCEDES - BENZ RUL">
                                        </a>

                                        <a class="content_grid_card_basket" data-request="onBookmark"
                                           data-request-data="id: 830"
                                           data-request-success="$(this).find('span').toggleClass('text-success')"
                                           data-request-flash="" href="javascript:">
                                            <span class="icon-bookmark "></span>
                                        </a>

                                        <div class="content_grid_card_price">
                                            <p> 977,000 so'm </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-4" style="padding: 1px">
                                    <div class="content_grid_card" style="padding: 0px">
                                        <a href="/shop/product/smart-watch-dt-7-max">
                                            <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                 src="https://100k.uz/storage/app/uploads/public/632/703/2a0/thumb_13661_300_300_0_0_crop.jpg"
                                                 data-src="https://100k.uz/storage/app/uploads/public/632/703/2a0/thumb_13661_300_300_0_0_crop.jpg"
                                                 alt="Smart Watch DT 7 Max">
                                        </a>

                                        <a class="content_grid_card_basket" data-request="onBookmark"
                                           data-request-data="id: 831"
                                           data-request-success="$(this).find('span').toggleClass('text-success')"
                                           data-request-flash="" href="javascript:">
                                            <span class="icon-bookmark "></span>
                                        </a>

                                        <div class="content_grid_card_price">
                                            <p> 357,000 so'm </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-4" style="padding: 1px">
                                    <div class="content_grid_card" style="padding: 0px">
                                        <a href="/shop/product/lenovo-avtoregistrator">
                                            <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                 src="https://100k.uz/storage/app/uploads/public/637/928/ebd/thumb_15553_300_300_0_0_crop.png"
                                                 data-src="https://100k.uz/storage/app/uploads/public/637/928/ebd/thumb_15553_300_300_0_0_crop.png"
                                                 alt="LENOVO Avtoregistrator">
                                        </a>

                                        <a class="content_grid_card_basket" data-request="onBookmark"
                                           data-request-data="id: 833"
                                           data-request-success="$(this).find('span').toggleClass('text-success')"
                                           data-request-flash="" href="javascript:">
                                            <span class="icon-bookmark "></span>
                                        </a>

                                        <div class="content_grid_card_price">
                                            <p> 637,000 so'm </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-4" style="padding: 1px">
                                    <div class="content_grid_card" style="padding: 0px">
                                        <a href="/shop/product/pubg-controller">
                                            <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                 src="https://100k.uz/storage/app/uploads/public/632/cb4/f8d/thumb_13791_300_300_0_0_crop.jpg"
                                                 data-src="https://100k.uz/storage/app/uploads/public/632/cb4/f8d/thumb_13791_300_300_0_0_crop.jpg"
                                                 alt="PUBG controller">
                                        </a>

                                        <a class="content_grid_card_basket" data-request="onBookmark"
                                           data-request-data="id: 839"
                                           data-request-success="$(this).find('span').toggleClass('text-success')"
                                           data-request-flash="" href="javascript:">
                                            <span class="icon-bookmark "></span>
                                        </a>

                                        <div class="content_grid_card_price">
                                            <p> 107,000 so'm </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-4" style="padding: 1px">
                                    <div class="content_grid_card" style="padding: 0px">
                                        <a href="/shop/product/nokia-banan">
                                            <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                 src="https://100k.uz/storage/app/uploads/public/633/173/06c/thumb_13880_300_300_0_0_crop.jpg"
                                                 data-src="https://100k.uz/storage/app/uploads/public/633/173/06c/thumb_13880_300_300_0_0_crop.jpg"
                                                 alt="NOKIA BANAN">
                                        </a>

                                        <a class="content_grid_card_basket" data-request="onBookmark"
                                           data-request-data="id: 844"
                                           data-request-success="$(this).find('span').toggleClass('text-success')"
                                           data-request-flash="" href="javascript:">
                                            <span class="icon-bookmark "></span>
                                        </a>

                                        <div class="content_grid_card_price">
                                            <p> 399,000 so'm </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-4" style="padding: 1px">
                                    <div class="content_grid_card" style="padding: 0px">
                                        <a href="/shop/product/android-inoi-2">
                                            <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                 src="https://100k.uz/storage/app/uploads/public/635/d7e/f93/thumb_14881_300_300_0_0_crop.jpg"
                                                 data-src="https://100k.uz/storage/app/uploads/public/635/d7e/f93/thumb_14881_300_300_0_0_crop.jpg"
                                                 alt="GAP YO'Q Android">
                                        </a>

                                        <a class="content_grid_card_basket" data-request="onBookmark"
                                           data-request-data="id: 847"
                                           data-request-success="$(this).find('span').toggleClass('text-success')"
                                           data-request-flash="" href="javascript:">
                                            <span class="icon-bookmark "></span>
                                        </a>

                                        <div class="content_grid_card_price">
                                            <p> 742,000 so'm </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-4" style="padding: 1px">
                                    <div class="content_grid_card" style="padding: 0px">
                                        <a href="/shop/product/orindiq-isitgich">
                                            <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                 src="https://100k.uz/storage/app/uploads/public/633/728/f65/thumb_13989_300_300_0_0_crop.jpg"
                                                 data-src="https://100k.uz/storage/app/uploads/public/633/728/f65/thumb_13989_300_300_0_0_crop.jpg"
                                                 alt="O'RINDIQ ISITGICH">
                                        </a>

                                        <a class="content_grid_card_basket" data-request="onBookmark"
                                           data-request-data="id: 854"
                                           data-request-success="$(this).find('span').toggleClass('text-success')"
                                           data-request-flash="" href="javascript:">
                                            <span class="icon-bookmark "></span>
                                        </a>

                                        <div class="content_grid_card_price">
                                            <p> 299,000 so'm </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-4" style="padding: 1px">
                                    <div class="content_grid_card" style="padding: 0px">
                                        <a href="/shop/product/holder-long">
                                            <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                 src="https://100k.uz/storage/app/uploads/public/633/87f/3f0/thumb_14015_300_300_0_0_crop.jpg"
                                                 data-src="https://100k.uz/storage/app/uploads/public/633/87f/3f0/thumb_14015_300_300_0_0_crop.jpg"
                                                 alt="HOLDER LONG">
                                        </a>

                                        <a class="content_grid_card_basket" data-request="onBookmark"
                                           data-request-data="id: 856"
                                           data-request-success="$(this).find('span').toggleClass('text-success')"
                                           data-request-flash="" href="javascript:">
                                            <span class="icon-bookmark "></span>
                                        </a>

                                        <div class="content_grid_card_price">
                                            <p> 152,000 so'm </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-4" style="padding: 1px">
                                    <div class="content_grid_card" style="padding: 0px">
                                        <a href="/shop/product/bolalar-uchun-proyektor">
                                            <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                 src="https://100k.uz/storage/app/uploads/public/637/a50/1c5/thumb_15689_300_300_0_0_crop.png"
                                                 data-src="https://100k.uz/storage/app/uploads/public/637/a50/1c5/thumb_15689_300_300_0_0_crop.png"
                                                 alt="Bolalar uchun Proyektor">
                                        </a>

                                        <a class="content_grid_card_basket" data-request="onBookmark"
                                           data-request-data="id: 873"
                                           data-request-success="$(this).find('span').toggleClass('text-success')"
                                           data-request-flash="" href="javascript:">
                                            <span class="icon-bookmark "></span>
                                        </a>

                                        <div class="content_grid_card_price">
                                            <p> 179,000 so'm </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-4" style="padding: 1px">
                                    <div class="content_grid_card" style="padding: 0px">
                                        <a href="/shop/product/cucci-smart-watch">
                                            <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                 src="https://100k.uz/storage/app/uploads/public/634/3d9/32c/thumb_14269_300_300_0_0_crop.jpg"
                                                 data-src="https://100k.uz/storage/app/uploads/public/634/3d9/32c/thumb_14269_300_300_0_0_crop.jpg"
                                                 alt="CUCCI SMART WATCH">
                                        </a>

                                        <a class="content_grid_card_basket" data-request="onBookmark"
                                           data-request-data="id: 875"
                                           data-request-success="$(this).find('span').toggleClass('text-success')"
                                           data-request-flash="" href="javascript:">
                                            <span class="icon-bookmark "></span>
                                        </a>

                                        <div class="content_grid_card_price">
                                            <p> 407,000 so'm </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-4" style="padding: 1px">
                                    <div class="content_grid_card" style="padding: 0px">
                                        <a href="/shop/product/artel-gap-yoq">
                                            <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                 src="https://100k.uz/storage/app/uploads/public/634/9c7/ba0/thumb_14429_300_300_0_0_crop.jpg"
                                                 data-src="https://100k.uz/storage/app/uploads/public/634/9c7/ba0/thumb_14429_300_300_0_0_crop.jpg"
                                                 alt="ARTEL GAP YO'Q">
                                        </a>

                                        <a class="content_grid_card_basket" data-request="onBookmark"
                                           data-request-data="id: 884"
                                           data-request-success="$(this).find('span').toggleClass('text-success')"
                                           data-request-flash="" href="javascript:">
                                            <span class="icon-bookmark "></span>
                                        </a>

                                        <div class="content_grid_card_price">
                                            <p> 789,000 so'm </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-4" style="padding: 1px">
                                    <div class="content_grid_card" style="padding: 0px">
                                        <a href="/shop/product/fly-nova">
                                            <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                 src="https://100k.uz/storage/app/uploads/public/634/d39/556/thumb_14539_300_300_0_0_crop.jpg"
                                                 data-src="https://100k.uz/storage/app/uploads/public/634/d39/556/thumb_14539_300_300_0_0_crop.jpg"
                                                 alt="FLY NOVA">
                                        </a>

                                        <a class="content_grid_card_basket" data-request="onBookmark"
                                           data-request-data="id: 892"
                                           data-request-success="$(this).find('span').toggleClass('text-success')"
                                           data-request-flash="" href="javascript:">
                                            <span class="icon-bookmark "></span>
                                        </a>

                                        <div class="content_grid_card_price">
                                            <p> 169,000 so'm </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-4" style="padding: 1px">
                                    <div class="content_grid_card" style="padding: 0px">
                                        <a href="/shop/product/bolalar-uchun-ordakcha">
                                            <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                 src="https://100k.uz/storage/app/uploads/public/635/33b/dba/thumb_14650_300_300_0_0_crop.jpg"
                                                 data-src="https://100k.uz/storage/app/uploads/public/635/33b/dba/thumb_14650_300_300_0_0_crop.jpg"
                                                 alt="BOLALAR UCHUN O'RDAKCHA">
                                        </a>

                                        <a class="content_grid_card_basket" data-request="onBookmark"
                                           data-request-data="id: 899"
                                           data-request-success="$(this).find('span').toggleClass('text-success')"
                                           data-request-flash="" href="javascript:">
                                            <span class="icon-bookmark "></span>
                                        </a>

                                        <div class="content_grid_card_price">
                                            <p> 172,000 so'm </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-4" style="padding: 1px">
                                    <div class="content_grid_card" style="padding: 0px">
                                        <a href="/shop/product/karmonniy-wifi">
                                            <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                 src="https://100k.uz/storage/app/uploads/public/635/5ad/877/thumb_14719_300_300_0_0_crop.jpg"
                                                 data-src="https://100k.uz/storage/app/uploads/public/635/5ad/877/thumb_14719_300_300_0_0_crop.jpg"
                                                 alt="Karmonniy WiFi">
                                        </a>

                                        <a class="content_grid_card_basket" data-request="onBookmark"
                                           data-request-data="id: 903"
                                           data-request-success="$(this).find('span').toggleClass('text-success')"
                                           data-request-flash="" href="javascript:">
                                            <span class="icon-bookmark "></span>
                                        </a>

                                        <div class="content_grid_card_price">
                                            <p> 427,000 so'm </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-4" style="padding: 1px">
                                    <div class="content_grid_card" style="padding: 0px">
                                        <a href="/shop/product/telefon-klaviatura">
                                            <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                 src="https://100k.uz/storage/app/uploads/public/635/5b4/857/thumb_14725_300_300_0_0_crop.jpg"
                                                 data-src="https://100k.uz/storage/app/uploads/public/635/5b4/857/thumb_14725_300_300_0_0_crop.jpg"
                                                 alt="TELEFON KLAVIATURA">
                                        </a>

                                        <a class="content_grid_card_basket" data-request="onBookmark"
                                           data-request-data="id: 904"
                                           data-request-success="$(this).find('span').toggleClass('text-success')"
                                           data-request-flash="" href="javascript:">
                                            <span class="icon-bookmark "></span>
                                        </a>

                                        <div class="content_grid_card_price">
                                            <p> 237,000 so'm </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-4" style="padding: 1px">
                                    <div class="content_grid_card" style="padding: 0px">
                                        <a href="/shop/product/apple-watch-8-ultra-replica">
                                            <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                 src="https://100k.uz/storage/app/uploads/public/635/857/812/thumb_14799_300_300_0_0_crop.jpg"
                                                 data-src="https://100k.uz/storage/app/uploads/public/635/857/812/thumb_14799_300_300_0_0_crop.jpg"
                                                 alt="Apple Watch 8 Ultra Replica">
                                        </a>

                                        <a class="content_grid_card_basket" data-request="onBookmark"
                                           data-request-data="id: 910"
                                           data-request-success="$(this).find('span').toggleClass('text-success')"
                                           data-request-flash="" href="javascript:">
                                            <span class="icon-bookmark "></span>
                                        </a>

                                        <div class="content_grid_card_price">
                                            <p> 451,000 so'm </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-4" style="padding: 1px">
                                    <div class="content_grid_card" style="padding: 0px">
                                        <a href="/shop/product/iphone-syle">
                                            <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                 src="https://100k.uz/storage/app/uploads/public/635/d50/9fd/thumb_14871_300_300_0_0_crop.jpg"
                                                 data-src="https://100k.uz/storage/app/uploads/public/635/d50/9fd/thumb_14871_300_300_0_0_crop.jpg"
                                                 alt="IPHONE STYLE">
                                        </a>

                                        <a class="content_grid_card_basket" data-request="onBookmark"
                                           data-request-data="id: 912"
                                           data-request-success="$(this).find('span').toggleClass('text-success')"
                                           data-request-flash="" href="javascript:">
                                            <span class="icon-bookmark "></span>
                                        </a>

                                        <div class="content_grid_card_price">
                                            <p> 409,000 so'm </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-4" style="padding: 1px">
                                    <div class="content_grid_card" style="padding: 0px">
                                        <a href="/shop/product/karokiy-mikrafon">
                                            <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                 src="https://100k.uz/storage/app/uploads/public/635/d92/8de/thumb_14886_300_300_0_0_crop.jpg"
                                                 data-src="https://100k.uz/storage/app/uploads/public/635/d92/8de/thumb_14886_300_300_0_0_crop.jpg"
                                                 alt="KAROKIY MIKRAFON">
                                        </a>

                                        <a class="content_grid_card_basket" data-request="onBookmark"
                                           data-request-data="id: 913"
                                           data-request-success="$(this).find('span').toggleClass('text-success')"
                                           data-request-flash="" href="javascript:">
                                            <span class="icon-bookmark "></span>
                                        </a>

                                        <div class="content_grid_card_price">
                                            <p> 167,000 so'm </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-4" style="padding: 1px">
                                    <div class="content_grid_card" style="padding: 0px">
                                        <a href="/shop/product/bosch-dazmol">
                                            <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                 src="https://100k.uz/storage/app/uploads/public/637/a38/336/thumb_15600_300_300_0_0_crop.png"
                                                 data-src="https://100k.uz/storage/app/uploads/public/637/a38/336/thumb_15600_300_300_0_0_crop.png"
                                                 alt="BOSCH DAZMOL">
                                        </a>

                                        <a class="content_grid_card_basket" data-request="onBookmark"
                                           data-request-data="id: 914"
                                           data-request-success="$(this).find('span').toggleClass('text-success')"
                                           data-request-flash="" href="javascript:">
                                            <span class="icon-bookmark "></span>
                                        </a>

                                        <div class="content_grid_card_price">
                                            <p> 329,000 so'm </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-4" style="padding: 1px">
                                    <div class="content_grid_card" style="padding: 0px">
                                        <a href="/shop/product/treller-avtomashinasi">
                                            <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                 src="https://100k.uz/storage/app/uploads/public/635/f83/bb4/thumb_14933_300_300_0_0_crop.jpg"
                                                 data-src="https://100k.uz/storage/app/uploads/public/635/f83/bb4/thumb_14933_300_300_0_0_crop.jpg"
                                                 alt="Treller Avtomashinasi">
                                        </a>

                                        <a class="content_grid_card_basket" data-request="onBookmark"
                                           data-request-data="id: 917"
                                           data-request-success="$(this).find('span').toggleClass('text-success')"
                                           data-request-flash="" href="javascript:">
                                            <span class="icon-bookmark "></span>
                                        </a>

                                        <div class="content_grid_card_price">
                                            <p> 172,000 so'm </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-4" style="padding: 1px">
                                    <div class="content_grid_card" style="padding: 0px">
                                        <a href="/shop/product/vertalyot">
                                            <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                 src="https://100k.uz/storage/app/uploads/public/637/f81/451/thumb_15914_300_300_0_0_crop.png"
                                                 data-src="https://100k.uz/storage/app/uploads/public/637/f81/451/thumb_15914_300_300_0_0_crop.png"
                                                 alt="VERTALYOT">
                                        </a>

                                        <a class="content_grid_card_basket" data-request="onBookmark"
                                           data-request-data="id: 918"
                                           data-request-success="$(this).find('span').toggleClass('text-success')"
                                           data-request-flash="" href="javascript:">
                                            <span class="icon-bookmark "></span>
                                        </a>

                                        <div class="content_grid_card_price">
                                            <p> 176,000 so'm </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-4" style="padding: 1px">
                                    <div class="content_grid_card" style="padding: 0px">
                                        <a href="/shop/product/selecon-soat">
                                            <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                 src="https://100k.uz/storage/app/uploads/public/637/a37/a09/thumb_15593_300_300_0_0_crop.png"
                                                 data-src="https://100k.uz/storage/app/uploads/public/637/a37/a09/thumb_15593_300_300_0_0_crop.png"
                                                 alt="SELECON SOAT">
                                        </a>

                                        <a class="content_grid_card_basket" data-request="onBookmark"
                                           data-request-data="id: 920"
                                           data-request-success="$(this).find('span').toggleClass('text-success')"
                                           data-request-flash="" href="javascript:">
                                            <span class="icon-bookmark "></span>
                                        </a>

                                        <div class="content_grid_card_price">
                                            <p> 187,000 so'm </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-4" style="padding: 1px">
                                    <div class="content_grid_card" style="padding: 0px">
                                        <a href="/shop/product/barbiy-qogirchoq">
                                            <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                 src="https://100k.uz/storage/app/uploads/public/636/186/18e/thumb_14983_300_300_0_0_crop.jpg"
                                                 data-src="https://100k.uz/storage/app/uploads/public/636/186/18e/thumb_14983_300_300_0_0_crop.jpg"
                                                 alt="BARBIY QO'G'IRCHOQ">
                                        </a>

                                        <a class="content_grid_card_basket" data-request="onBookmark"
                                           data-request-data="id: 922"
                                           data-request-success="$(this).find('span').toggleClass('text-success')"
                                           data-request-flash="" href="javascript:">
                                            <span class="icon-bookmark "></span>
                                        </a>

                                        <div class="content_grid_card_price">
                                            <p> 176,000 so'm </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-4" style="padding: 1px">
                                    <div class="content_grid_card" style="padding: 0px">
                                        <a href="/shop/product/bezak-uchun-led">
                                            <img loading="lazy" class=" lazyloaded"
                                                 src="https://100k.uz/storage/app/uploads/public/636/1cb/178/thumb_15000_300_300_0_0_crop.jpg"
                                                 data-src="https://100k.uz/storage/app/uploads/public/636/1cb/178/thumb_15000_300_300_0_0_crop.jpg"
                                                 alt="Bezak uchun LED">
                                        </a>

                                        <a class="content_grid_card_basket" data-request="onBookmark"
                                           data-request-data="id: 925"
                                           data-request-success="$(this).find('span').toggleClass('text-success')"
                                           data-request-flash="" href="javascript:">
                                            <span class="icon-bookmark "></span>
                                        </a>

                                        <div class="content_grid_card_price">
                                            <p> 247,000 so'm </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-4" style="padding: 1px">
                                    <div class="content_grid_card" style="padding: 0px">
                                        <a href="/shop/product/bolalar-uchun-avtomashina">
                                            <img loading="lazy" class=" lazyloaded"
                                                 src="https://100k.uz/storage/app/uploads/public/636/4a2/779/thumb_15057_300_300_0_0_crop.jpg"
                                                 data-src="https://100k.uz/storage/app/uploads/public/636/4a2/779/thumb_15057_300_300_0_0_crop.jpg"
                                                 alt="Bolalar uchun Avtomashina">
                                        </a>

                                        <a class="content_grid_card_basket" data-request="onBookmark"
                                           data-request-data="id: 927"
                                           data-request-success="$(this).find('span').toggleClass('text-success')"
                                           data-request-flash="" href="javascript:">
                                            <span class="icon-bookmark "></span>
                                        </a>

                                        <div class="content_grid_card_price">
                                            <p> 197,000 so'm </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-4" style="padding: 1px">
                                    <div class="content_grid_card" style="padding: 0px">
                                        <a href="/shop/product/mushuk-naushnik">
                                            <img loading="lazy" class=" lazyloaded"
                                                 src="https://100k.uz/storage/app/uploads/public/636/4e0/80f/thumb_15069_300_300_0_0_crop.jpg"
                                                 data-src="https://100k.uz/storage/app/uploads/public/636/4e0/80f/thumb_15069_300_300_0_0_crop.jpg"
                                                 alt="Mushuk Naushnik">
                                        </a>

                                        <a class="content_grid_card_basket" data-request="onBookmark"
                                           data-request-data="id: 929"
                                           data-request-success="$(this).find('span').toggleClass('text-success')"
                                           data-request-flash="" href="javascript:">
                                            <span class="icon-bookmark "></span>
                                        </a>

                                        <div class="content_grid_card_price">
                                            <p> 177,000 so'm </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-4" style="padding: 1px">
                                    <div class="content_grid_card" style="padding: 0px">
                                        <a href="/shop/product/porsche-rul">
                                            <img loading="lazy" class=" lazyloaded"
                                                 src="https://100k.uz/storage/app/uploads/public/637/927/f89/thumb_15551_300_300_0_0_crop.png"
                                                 data-src="https://100k.uz/storage/app/uploads/public/637/927/f89/thumb_15551_300_300_0_0_crop.png"
                                                 alt="PORSCHE RUL">
                                        </a>

                                        <a class="content_grid_card_basket" data-request="onBookmark"
                                           data-request-data="id: 942"
                                           data-request-success="$(this).find('span').toggleClass('text-success')"
                                           data-request-flash="" href="javascript:">
                                            <span class="icon-bookmark "></span>
                                        </a>

                                        <div class="content_grid_card_price">
                                            <p> 815,000 so'm </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-4" style="padding: 1px">
                                    <div class="content_grid_card" style="padding: 0px">
                                        <a href="/shop/product/penguin-trap">
                                            <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                 src="https://100k.uz/storage/app/uploads/public/637/f83/3d6/thumb_15919_300_300_0_0_crop.png"
                                                 data-src="https://100k.uz/storage/app/uploads/public/637/f83/3d6/thumb_15919_300_300_0_0_crop.png"
                                                 alt="Penguin Trap">
                                        </a>

                                        <a class="content_grid_card_basket" data-request="onBookmark"
                                           data-request-data="id: 960"
                                           data-request-success="$(this).find('span').toggleClass('text-success')"
                                           data-request-flash="" href="javascript:">
                                            <span class="icon-bookmark "></span>
                                        </a>

                                        <div class="content_grid_card_price">
                                            <p> 161,000 so'm </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-4" style="padding: 1px">
                                    <div class="content_grid_card" style="padding: 0px">
                                        <a href="/shop/product/qoshiq-aytuvchi-ordakcha">
                                            <img loading="lazy" class=" lazyloading"
                                                 src="https://100k.uz/storage/app/uploads/public/637/a34/582/thumb_15579_300_300_0_0_crop.png"
                                                 data-src="https://100k.uz/storage/app/uploads/public/637/a34/582/thumb_15579_300_300_0_0_crop.png"
                                                 alt="Qo'shiq aytuvchi O'rdakcha">
                                        </a>

                                        <a class="content_grid_card_basket" data-request="onBookmark"
                                           data-request-data="id: 961"
                                           data-request-success="$(this).find('span').toggleClass('text-success')"
                                           data-request-flash="" href="javascript:">
                                            <span class="icon-bookmark "></span>
                                        </a>

                                        <div class="content_grid_card_price">
                                            <p> 176,000 so'm </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-4" style="padding: 1px">
                                    <div class="content_grid_card" style="padding: 0px">
                                        <a href="/shop/product/transformer-avtomashina">
                                            <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                 src="https://100k.uz/storage/app/uploads/public/637/698/64e/thumb_15490_300_300_0_0_crop.jpg"
                                                 data-src="https://100k.uz/storage/app/uploads/public/637/698/64e/thumb_15490_300_300_0_0_crop.jpg"
                                                 alt="Transformer Avtomashina">
                                        </a>

                                        <a class="content_grid_card_basket" data-request="onBookmark"
                                           data-request-data="id: 964"
                                           data-request-success="$(this).find('span').toggleClass('text-success')"
                                           data-request-flash="" href="javascript:">
                                            <span class="icon-bookmark "></span>
                                        </a>

                                        <div class="content_grid_card_price">
                                            <p> 176,000 so'm </p>
                                        </div>
                                    </div>
                                </div>
                                <div style="height: 80vh"></div>
                            </div>
                        </div>
                        <div style="text-align: center; padding-bottom: 50px">
                            <a href="https://play.google.com/store/apps/details?id=uz.itmaker.stock">
                                <img src="https://100k.uz/storage/app/media/download-app.png" style="max-width: 100%">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}