<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="utf-8"/>
    <meta name="turbo-visit-control" content="disable"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="https://100k.uz/themes/stock/assets/owlcarousel/owl.carousel.min.css"/>
    <link rel="stylesheet" href="https://100k.uz/themes/stock/assets/owlcarousel/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="https://100k.uz/themes/stock/assets/css/style.bundle.css"/>
    <link rel="stylesheet" href="https://100k.uz/themes/stock/assets/css/sk-custom.css"/>


    <!-- seo meta tags -->
    <title></title>
    <meta name="description" content="">


</head>
<body>
<header class="header" id="top">
    <div class="container">
        <nav class="header_navbar">

            <a href="/" class="header_navbar_brand_logo d-none d-md-block ">100k.uz </a>
            <a href="/admin" class="header_navbar_brand_back d-md-none"> <span class="icon-arrow"></span> </a>
            <a href="#!" class="header_navbar_brand_name d-md-none"> Admin market </a>


            <div class="header_navbar_collapse">
                <ul class="header_navbar_collapse_nav">

                    <li class="header_navbar_collapse_nav_item">
                        <div class="header_navbar_collapse_nav_item_pad">
                            <a class="header_navbar_collapse_nav_item_link " href="/admin">
                                <span class="fa fa-tachometer"></span>
                                <p> Dashboard </p></a>
                        </div>
                    </li>

                    <li class="header_navbar_collapse_nav_item">
                        <div class="header_navbar_collapse_nav_item_pad">
                            <a class="header_navbar_collapse_nav_item_link active" href="/admin/market">
                                <span class="fas fa-store"></span>
                                <p> Market </p>
                            </a>
                        </div>
                    </li>

                    <li class="header_navbar_collapse_nav_item">
                        <div class="header_navbar_collapse_nav_item_pad">
                            <a class="header_navbar_collapse_nav_item_link " href="/admin/streams">
                                <span class="fa fa-link"></span>
                                <p> Oqim </p>
                            </a>
                        </div>
                    </li>
                    <li class="header_navbar_collapse_nav_item">
                        <div class="header_navbar_collapse_nav_item_pad">
                            <a class="header_navbar_collapse_nav_item_link " href="/admin/statistics">
                                <span class="fas fa-chart-line"></span>
                                <p> Statistika </p>
                            </a>
                        </div>
                    </li>
                    <li class="header_navbar_collapse_nav_item">
                        <div class="header_navbar_collapse_nav_item_pad">
                            <a class="header_navbar_collapse_nav_item_link " href="/admin/withdraw">
                                <span class="fas fa-money-bill-alt"></span>
                                <p> To'lov </p>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>


            <div class="header_navbar_profile">
                <div class="d-flex align-items-center dropdown">
                    <a class="btn nav-link" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <img src="https://100k.uz/storage/app/uploads/public/615/a75/175/thumb_6440_150_150_0_0_crop.jpg"
                             alt="profile"/>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right header_navbar_lang_menu_dropdown">
                        <a class="dropdown-item header_navbar_lang_menu_dropdown_item" href="/profile"> Profil </a>

                        <a class="dropdown-item header_navbar_lang_menu_dropdown_item" href="/admin"> Adminlar
                            uchun </a>

                        <a class="d-none dropdown-item header_navbar_lang_menu_dropdown_item" href="/profile/buy-bonus">
                            Bonus xarid qilish </a>
                        <a class="dropdown-item header_navbar_lang_menu_dropdown_item" href="/shop/favorite"> Mening
                            sevimlilarim </a>
                        <a class="dropdown-item header_navbar_lang_menu_dropdown_item" href="/profile/settings">
                            Sozlamalar </a>


                        <a onclick='FB.AppEvents.logEvent("logOut")'
                           class="dropdown-item header_navbar_lang_menu_dropdown_item"
                           data-request-confirm="Siz rostdan ham akkountingizdan chiqmoqchimisiz?"
                           data-request="onLogout"
                           data-request-data="redirect: '/'">
                            Chiqish
                        </a>


                        <hr class="my-2">

                        <div class="d-flex justify-content-between px-2">
                            <!-- <a onclick='FB.AppEvents.logEvent("openTg")' href="https://t.me/offical_100k" class="p-2">
                                <img src="https://image.flaticon.com/icons/svg/2111/2111646.svg" style="width: 20px;" alt="">
                            </a> -->

                            <a onclick='FB.AppEvents.logEvent("openAndroid")' target="_blank"
                               href="https://play.google.com/store/apps/details?id=uz.itmaker.stock" class="p-2">
                                <img src="https://image.flaticon.com/icons/svg/732/732179.svg" style="width: 20px;"
                                     alt="">
                            </a>

                            <a onclick='FB.AppEvents.logEvent("openIos")' target="_blank"
                               href="https://apps.apple.com/ru/app/100k-uz/id1529911106" class="p-2">
                                <img src="https://image.flaticon.com/icons/svg/831/831276.svg" style="width: 20px;"
                                     alt="">
                            </a>
                        </div>

                    </div>
                </div>
            </div>

        </nav>
    </div>
</header>

{% block main %}
{% endblock %}
<script src="https://kit.fontawesome.com/43236b6dfa.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/imask"></script>

<script src="https://100k.uz/themes/stock/assets/js/bundle.js"></script>
<script src="https://100k.uz/themes/stock/assets/lazysizes/lazysizes.min.js"></script>
<script src="https://100k.uz/themes/stock/assets/owlcarousel/owl.carousel.min.js"></script>
<script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
<script src="https://100k.uz/themes/stock/assets/js/custom.js"></script>
<script src="/modules/system/assets/js/framework-extras.js"></script>
<link rel="stylesheet" property="stylesheet" href="/modules/system/assets/css/framework-extras.css">

<script>

    const user_input = $("#user-input")
    const search_icon = $('#search-icon')
    const results = $('#replaceable-content')
    const endpoint = '/search'
    const delay_by_in_ms = 700
    let scheduled_function = false
    let csrf_token = "321";
    let ajax_call = function (endpoint, request_parameters) {
        $.post(endpoint, request_parameters)
            .done(response => {
                let posts = response['products']
                console.log(posts)
                if (posts) {
                    let html_content = ``
                    for (i in posts) {
                        html_content += `<a class="list-group-item" href="product_detail/shop/${posts[i]['slug']}">
                                            <img src="${domain}/media/${posts[i]['pic']}" with="50" height="50" alt="Post Image">
                                        ${posts[i]['title']}</a>`
                    }
                    results.html(html_content)
                }
            })
    }

    user_input.on('keyup', function () {
        let key_val = $(this).val()
        const request_parameters = {
            like: key_val, // value of user_input: the HTML element with ID user-input
            csrfmiddlewaretoken: csrf_token
        }
        console.log(request_parameters)
        // start animating the search icon with the CSS class
        // if scheduled_function is NOT false, cancel the execution of the function
        if (key_val === '') {
            results.addClass('d-none')
        } else {
            if (scheduled_function) {
                clearTimeout(scheduled_function)
            }
            results.removeClass('d-none')
            // setTimeout returns the ID of the function to be executed
            scheduled_function = setTimeout(ajax_call, delay_by_in_ms, endpoint, request_parameters)
        }
    })
</script>
</body>
</html>