{% extends 'apps/admin/admin_base.html' %}
{% load static %}
{% block main %}
    <main class="admin-template">
        <section class="main">
            <div class="container border-bottom-4">
                <div class="content_name_block">
                    <a href="{% url 'admin_page' %}" class="content_name_block_back"><span
                            class="icon-arrow"></span></a>
                    <div class="content_name_block_text"><p> Hayriya </p></div>
                </div>
            </div>

            <div class="container">
                <div style="padding: 50px">
                    <h1 class="text-center"> 42,808,678 so'm</h1>
                </div>

                <div id="blocklist" class="content_bonus-history">
                    <div class="content_notification_card">
                        <div class="content_notification_card_img text-center"
                             style="border: 1px solid #ddd; padding: 5px; height: 50px;">
                            <h5 style="font-size: 15px"> 2000 <br> <small>so'm</small></h5>
                        </div>
                        <div class="content_bonus-history_info">

                            <div class="content_single-product-user_bottom"><p> 131861-oqim <small
                                    style="float: right;">id:
                                431372 </small></p></div>

                            <div class="content_single-product-user_top">
                                <p>3677 tashrif</p>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
                <div class="alert">
                    <p>
                    <pre>
Assalomu aleykum, hurmatli jamoamiz adminlari.

Ushbu sahifada siz yani 100k.uz sayti
adminlari yordamida hayriya ishlari
uchun toplangan mablaglarni kuzatishingiz mumkin.

Sahifada hozircha umumiy toplangan mablagni
va hayriya funksiyasi yoqilgan oqimlar
royhatini korishingiz mumkin.

Yigilgan mablag bolalar yoki qariyalar uylari
hisob raqamiga yoki ogir kasalga uchragan
lekin davolanishga sharoiti yoq vatandoshlarimiz
karta raqamlariga yonaltiriladi.

Mablagni topshirish vaqtida 100k.uz saytida
ishlovchi istalgan admin ishtirok etishi mumkin.

Ushbu sahifa keyinchalik yangiliklar ko'rinishida
barcha hayriyalar haqida malumotlar chop etiladi.

Eslatma: Hayriya qutisiga mablag ajratish
uchun Market bolimiga tashrif buyuring va oqim yaratish
oynasida hayriya summasini kiriting va tizim aynan osha
oqim har bir sotilgan buyurtmasidan kiritilgan
hayriya summasi ushlab qoladi.

Hayriya dasturida ishtirok etmagan bo'lsangiz
albatta siz ham ishtirok etib hissangizni qoshing,
hattoki 500 so'm ham kopchilik yordami kimnidir
hayotini saqlab qolishi yoki yahshilikka ozgartirishi mumkin.

Birgalikda biz katta kuchmiz!
                </pre>
                    </p>
                </div>

            </div>
        </section>
    </main>
{% endblock %}