{% extends 'apps/admin/admin_base.html' %}
{% load static %}
{% block main %}
    <main class="admin-template">
        <section class="main">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <form data-request="onStreamSearch"
                              data-request-update="'admin/streams-table': '#marketStreamList'"
                              data-request-flash class="request-search-form input-group mb-0 p-4">
                            <div class="input-group-prepend">
                                <button class="btn btn-info" style="border: 1px solid #ddd" type="button"
                                        onclick="$('.market-search-input').val(''); $('.request-search-form').submit()"
                                        id="button-addon1">X
                                </button>
                            </div>
                            <input type="text" class="form-control market-search-input" name="search"
                                   placeholder="Oqimlar bo'yicha qidiruv"
                                   data-request-update="'admin/streams-table': '#marketStreamList'"
                                   aria-describedby="button-addon2"
                                   data-request="onStreamSearch"
                                   data-track-input="500"
                                   data-request-flash/>
                            <div class="input-group-append">
                                <button class="btn btn-primary" data-attach-loading type="submit" id="button-addon2">
                                    Izlash
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="table-responsive" id="marketStreamList">
                    <table class="table">
                        <thead class="text-center">
                        <tr>
                            <th scope="col">Oqim</th>
                            <th scope="col">Tashrif</th>
                            <th scope="col">Yangi</th>
                            <th scope="col">Qabul qilindi</th>
                            <th scope="col">Yetkazilmoqda</th>
                            <th scope="col">Yetqazib berildi</th>

                            <th scope="col">Qayta qo'ngiroq</th>
                            <th scope="col">Spam</th>
                            <th scope="col">Qaytib keldi</th>
                            <th scope="col">HOLD</th>
                            <th scope="col">Arxivlandi</th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        {% for stream in streams %}
                            <tr>
                                <th>{{ stream.name }}</th>
                                <td>{{ stream.views }}</td>
                                <td> 0</td>
                                <td> 0</td>
                                <td> 0</td>
                                <td> 0</td>

                                <td> 0</td>
                                <td> 0</td>
                                <td> 0</td>
                                <td> 0</td>
                                <td> 0</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>


            </div>
        </section>
    </main>
{% endblock %}