<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="utf-8"/>
    <meta name="turbo-visit-control" content="disable"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="https://100k.uz/themes/stock/assets/owlcarousel/owl.carousel.min.css"/>
    <link rel="stylesheet" href="https://100k.uz/themes/stock/assets/owlcarousel/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="https://100k.uz/themes/stock/assets/css/style.bundle.css"/>
    <link rel="stylesheet" href="https://100k.uz/themes/stock/assets/css/sk-custom.css"/>


    <!-- seo meta tags -->
    <title></title>
    <meta name="description" content="">

</head>
<body>
<header class="header" id="top">
    <div class="container">
        <nav class="header_navbar">

            <a href="/" class="header_navbar_brand_logo d-none d-md-block ">100k.uz </a>
            <a href="/admin" class="header_navbar_brand_back d-md-none"> <span class="icon-arrow"></span> </a>
            <a href="#!" class="header_navbar_brand_name d-md-none"> Oqim </a>


            <div class="header_navbar_collapse">
                <ul class="header_navbar_collapse_nav">

                    <li class="header_navbar_collapse_nav_item">
                        <div class="header_navbar_collapse_nav_item_pad">
                            <a class="header_navbar_collapse_nav_item_link " href="/admin">
                                <span class="fa fa-tachometer"></span>
                                <p> Dashboard </p></a>
                        </div>
                    </li>

                    <li class="header_navbar_collapse_nav_item">
                        <div class="header_navbar_collapse_nav_item_pad">
                            <a class="header_navbar_collapse_nav_item_link " href="/admin/market">
                                <span class="fas fa-store"></span>
                                <p> Market </p>
                            </a>
                        </div>
                    </li>

                    <li class="header_navbar_collapse_nav_item">
                        <div class="header_navbar_collapse_nav_item_pad">
                            <a class="header_navbar_collapse_nav_item_link active" href="/admin/streams">
                                <span class="fa fa-link"></span>
                                <p> Oqim </p>
                            </a>
                        </div>
                    </li>
                    <li class="header_navbar_collapse_nav_item">
                        <div class="header_navbar_collapse_nav_item_pad">
                            <a class="header_navbar_collapse_nav_item_link " href="/admin/statistics">
                                <span class="fas fa-chart-line"></span>
                                <p> Statistika </p>
                            </a>
                        </div>
                    </li>
                    <li class="header_navbar_collapse_nav_item">
                        <div class="header_navbar_collapse_nav_item_pad">
                            <a class="header_navbar_collapse_nav_item_link " href="/admin/withdraw">
                                <span class="fas fa-money-bill-alt"></span>
                                <p> To'lov </p>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>


            <div class="header_navbar_profile">
                <div class="d-flex align-items-center dropdown">
                    <a class="btn nav-link" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <svg style="height: 35px; width: 35px;" fill="currentColor" viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z"
                                  clip-rule="evenodd"></path>
                        </svg>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right header_navbar_lang_menu_dropdown">
                        <a class="dropdown-item header_navbar_lang_menu_dropdown_item" href="/profile"> Profil </a>

                        <a class="dropdown-item header_navbar_lang_menu_dropdown_item" href="/admin"> Adminlar
                            uchun </a>

                        <a class="d-none dropdown-item header_navbar_lang_menu_dropdown_item" href="/profile/buy-bonus">
                            Bonus xarid qilish </a>
                        <a class="dropdown-item header_navbar_lang_menu_dropdown_item" href="/shop/favorite"> Mening
                            sevimlilarim </a>
                        <a class="dropdown-item header_navbar_lang_menu_dropdown_item" href="/profile/settings">
                            Sozlamalar </a>


                        <a onclick='FB.AppEvents.logEvent("logOut")'
                           class="dropdown-item header_navbar_lang_menu_dropdown_item"
                           data-request-confirm="Siz rostdan ham akkountingizdan chiqmoqchimisiz?"
                           data-request="onLogout"
                           data-request-data="redirect: '/'">
                            Chiqish
                        </a>


                        <hr class="my-2">

                        <div class="d-flex justify-content-between px-2">
                            <!-- <a onclick='FB.AppEvents.logEvent("openTg")' href="https://t.me/offical_100k" class="p-2">
                                <img src="https://image.flaticon.com/icons/svg/2111/2111646.svg" style="width: 20px;" alt="">
                            </a> -->

                            <a onclick='FB.AppEvents.logEvent("openAndroid")' target="_blank"
                               href="https://play.google.com/store/apps/details?id=uz.itmaker.stock" class="p-2">
                                <img src="https://image.flaticon.com/icons/svg/732/732179.svg" style="width: 20px;"
                                     alt="">
                            </a>

                            <a onclick='FB.AppEvents.logEvent("openIos")' target="_blank"
                               href="https://apps.apple.com/ru/app/100k-uz/id1529911106" class="p-2">
                                <img src="https://image.flaticon.com/icons/svg/831/831276.svg" style="width: 20px;"
                                     alt="">
                            </a>
                        </div>

                    </div>
                </div>
            </div>

        </nav>
    </div>
</header>

<main class="admin-template">
    <section class="main">
        <div class="container">

            <br>
            <br>
            <h3 class="text-center"> Mening havolalarim </h3>
            <br>

            <div class="row">

                {% for stream in streams %}


                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-header">
                                <a href="#"
                                   data-request="onDeleteStream"
                                   data-request-data="'id': {{ stream.id }}"
                                   data-request-flash
                                   data-request-success="$(this).closest('.col-sm-4').remove()"
                                   data-request-confirm="Diqqat! Ochirilgan oqimni tiklab bo'lmaydi?"
                                   class="text-danger" style="float: right"> <span class="fa fa-trash"></span> </a>

                                <h5> {{ stream.name }} </h5>
                            </div>

                            <div class="card-body">
                                <p class="card-text">
                                    {{ stream.product.title }}
                                </p>

                                <div class="form-group">
                                    <input type="text" value="https://100k.uz/oqim/{{ stream.id }}" readonly
                                           class="ref_link form-control">
                                </div>

                                <p>
                                    <label> <input {% if stream.is_area %}checked{% endif %}
                                                   data-request="onToggleRegion" data-input-track
                                                   type="checkbox" data-request-data="'id': '{{ stream.id }}'"
                                                   data-request-flash
                                                   name="is_region_disabled"> sorovlarni hududsiz qabul qilish </label>
                                </p>
                                <hr>

                                <button class="copy_ref_bn btn btn-primary">Nusxa ko'chirish</button>
                            </div>
                        </div>
                        <br>
                    </div>

                {% endfor %}


                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>


                {#                <div class="col-sm-12">#}
                {#                    <div style="text-align: center">#}
                {##}
                {#                        <strong> &nbsp;&nbsp;&nbsp; 1 &nbsp;&nbsp;&nbsp; </strong>#}
                {##}
                {#                    </div>#}
                {#                    <br>#}
                {#                    <br>#}
                {#                </div>#}

            </div>

        </div>
    </section>


</main>

<script src="https://kit.fontawesome.com/43236b6dfa.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/imask"></script>

<script src="https://100k.uz/themes/stock/assets/js/bundle.js"></script>
<script src="https://100k.uz/themes/stock/assets/lazysizes/lazysizes.min.js"></script>
<script src="https://100k.uz/themes/stock/assets/owlcarousel/owl.carousel.min.js"></script>
<script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
<script src="https://100k.uz/themes/stock/assets/js/custom.js"></script>
<script src="/modules/system/assets/js/framework-extras.js"></script>
<link rel="stylesheet" property="stylesheet" href="/modules/system/assets/css/framework-extras.css">
<script>
    $(".card-body .copy_ref_bn").on('click', function () {
        var copyText = $(this).parent().find('.ref_link').get(0);

        copyText.select();
        document.execCommand("copy");
        $(this).text('Nusxa olindi');
    });
</script>

<script>
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    };


    $('.form-check').on('click', '.form-check-input', function () {
        var dataID = $(this).data('id');

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", Cookies.get('csrftoken'));
                }
            }
        });

        $.ajax({
            url: "content/completed/",
            type: "POST",
            data: {
                id: dataID
            },
            success: function () {
                console.log('Success')
            }
        })
    });
</script>
</body>
</html>