{% extends 'apps/admin/admin_base.html' %}
{% load static %}
{% block main %}
    <main class="admin-template">
        <section class="main">
            <div class="container">

                <br>
                <br>
                <h3 class="text-center"> Mening havolalarim </h3>
                <br>

                <div class="row">

                    {% for stream in streams %}
                        <div class="col-sm-4" id="div_{{ stream.id }}">
                            <div class="card">
                                <div class="card-header">
                                    <a href="#"
                                       data-request="onDeleteStream"
                                       data-request-data="'id': {{ stream.id }}"
                                       data-request-flash
                                       data-request-success="$(this).closest('.col-sm-4').remove()"
                                       data-request-confirm="Diqqat! Ochirilgan oqimni tiklab bo'lmaydi?"
                                       class="text-danger" style="float: right"> <span
                                            onclick="areaDelete({{ stream.id }})" class="fa fa-trash"></span> </a>

                                    <h5> {{ stream.name }} </h5>
                                </div>

                                <div class="card-body">
                                    <p class="card-text">
                                        {{ stream.product.title }}
                                    </p>

                                    <div class="form-group">
                                        <input type="text" value="{{ url }}/stream/{{ stream.id }}" readonly
                                               class="ref_link form-control" id="{{ stream.id }}">
                                    </div>

                                    <p>
                                        <label> <input {% if stream.is_area %}checked{% endif %}
                                                       type="checkbox"
                                                       onclick="areaChange({{ stream.id }})"> sorovlarni hududsiz qabul
                                            qilish
                                        </label>
                                    </p>
                                    <hr>

                                    <button onclick="myFunctionCopy({{ stream.id }})"
                                            class="copy_ref_bn btn btn-primary">Nusxa
                                        ko'chirish
                                    </button>
                                </div>
                            </div>
                            <br>
                        </div>

                    {% endfor %}


                </div>
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>


            </div>
        </section>


    </main>
{% endblock %}