{% extends 'apps/operator/operator_base.html' %}
{% load admin_header %}
{% load static %}
{% block main %}
    <div class="container">
        <div class="main-body p-0">
            <div class="inner-wrapper">
                <div class="inner-sidebar">
                    <div class="inner-sidebar-header justify-content-center">
                    </div>
                    <div class="inner-sidebar-body p-0">
                        <div class="p-3 h-100" data-simplebar="init">
                            <div class="simplebar-wrapper" style="margin: -16px;">
                                <div class="simplebar-height-auto-observer-wrapper">
                                    <div class="simplebar-height-auto-observer"></div>
                                </div>
                                <div class="simplebar-mask">
                                    <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                        <div class="simplebar-content-wrapper"
                                             style="height: 100%; overflow: hidden scroll;">
                                            <div class="simplebar-content" style="padding: 16px;">
                                                <nav class="nav nav-pills nav-gap-y-1 flex-column">
                                                    <a href="{% url 'operator' %}"
                                                       class="nav-link nav-link-faded has-icon {% if request.path|is_active:'operator' %}active{% endif %}">Yangi
                                                        buyurtmalar</a>
                                                    <a href="{% url 'my_order' %}"
                                                       class="nav-link nav-link-faded has-icon {% if request.path|is_active:'my-order' %}active{% endif %}">Buyurtmalarim</a>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="simplebar-placeholder" style="width: 234px; height: 292px;"></div>
                            </div>
                            <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                                <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
                            </div>
                            <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                                <div class="simplebar-scrollbar"
                                     style="height: 151px; display: block; transform: translate3d(0px, 0px, 0px);"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inner-main">
                    <br>
                    <div class="inner-main-header"><a
                            class="nav-link nav-icon rounded-circle nav-link-faded mr-3 d-md-none" href="#"
                            data-toggle="inner-sidebar"><i class="material-icons">arrow_forward_ios</i></a>
                        <span class="input-icon input-icon-sm ml-auto w-auto">
                            <input type="text"
                                   class="form-control form-control-sm bg-gray-200 border-gray-200 shadow-none mb-4 mt-4"
                                   placeholder="Search forum"/> </span>
                    </div>
                    <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">
                        {% for order in orders %}
                            <div class="card mb-2">
                                <div class="card-body p-2 p-sm-3">
                                    <div class="media forum-item">
                                        <a href="#" data-toggle="collapse" data-target=".forum-content">
                                            <img src="{{ order.product.productimage_set.first.image.url }}"
                                                 class="mr-3 rounded-circle" width="50" alt="User"/>
                                        </a>
                                        <div class="media-body">
                                            <h6>
                                                <a href="{% url 'product_detail' order.product.slug %}"
                                                   data-toggle="collapse" data-target=".forum-content"
                                                   class="text-body">
                                                    {{ order.product.title }}
                                                </a>
                                            </h6>
                                            <p class="text-secondary">
                                                lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor
                                                sit
                                                amet
                                            </p>
                                            <p class="text-muted">
                                                <a href="javascript:void(0)">drewdan</a>
                                                <span class="text-secondary font-weight-bold">{{ order.created_at|timesince }} ago</span>
                                            </p>
                                        </div>
                                        <div class="text-muted small text-center align-self-center">
                                        <span class="d-none d-sm-inline-block">
                                        <i class="far fa-eye"></i>
                                            19
                                        </span>
                                            <span>
                                            <i class="far fa-comment ml-2"></i>
                                            3
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style type="text/css">body {
        margin-top: 20px;
        color: #1a202c;
        text-align: left;
        background-color: #e2e8f0;
    }

    .inner-wrapper {
        position: relative;
        height: calc(100vh - 3.5rem);
        transition: transform 0.3s;
    }

    @media (min-width: 992px) {
        .sticky-navbar .inner-wrapper {
            height: calc(100vh - 3.5rem - 48px);
        }
    }

    .inner-main,
    .inner-sidebar {
        position: absolute;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
    }

    .inner-sidebar {
        left: 0;
        width: 235px;
        border-right: 1px solid #cbd5e0;
        background-color: #fff;
        z-index: 1;
    }

    .inner-main {
        right: 0;
        left: 235px;
    }

    .inner-main-footer,
    .inner-main-header,
    .inner-sidebar-footer,
    .inner-sidebar-header {
        height: 3.5rem;
        border-bottom: 1px solid #cbd5e0;
        display: flex;
        align-items: center;
        padding: 0 1rem;
        flex-shrink: 0;
    }

    .inner-main-body,
    .inner-sidebar-body {
        padding: 1rem;
        overflow-y: auto;
        position: relative;
        flex: 1 1 auto;
    }

    .inner-main-body .sticky-top,
    .inner-sidebar-body .sticky-top {
        z-index: 999;
    }

    .inner-main-footer,
    .inner-main-header {
        background-color: #fff;
    }

    .inner-main-footer,
    .inner-sidebar-footer {
        border-top: 1px solid #cbd5e0;
        border-bottom: 0;
        height: auto;
        min-height: 3.5rem;
    }

    @media (max-width: 767.98px) {
        .inner-sidebar {
            left: -235px;
        }

        .inner-main {
            left: 0;
        }

        .inner-expand .main-body {
            overflow: hidden;
        }

        .inner-expand .inner-wrapper {
            transform: translate3d(235px, 0, 0);
        }
    }

    .nav .show > .nav-link.nav-link-faded, .nav-link.nav-link-faded.active, .nav-link.nav-link-faded:active, .nav-pills .nav-link.nav-link-faded.active, .navbar-nav .show > .nav-link.nav-link-faded {
        color: #3367b5;
        background-color: #c9d8f0;
    }

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        color: #fff;
        background-color: #467bcb;
    }

    .nav-link.has-icon {
        display: flex;
        align-items: center;
    }

    .nav-link.active {
        color: #467bcb;
    }

    .nav-pills .nav-link {
        border-radius: .25rem;
    }

    .nav-link {
        color: #4a5568;
    }

    .card {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }
    </style>
{% endblock %}